.ng-valid:not(form).ng-touched   {
    border-left: 5px solid #3ac941; /* green */
  }
 
.ng-invalid:not(form).ng-touched  {
    border-left: 5px solid rgb(206, 39, 36); /* red */
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
