USE [BD_SOPORTE_DIGITAL]
GO
/****** Object:  StoredProcedure [DigitalSuport].[pa_SoporteDigital]    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaCliente
-- Desc: Listar todos los clientes segun su tipo 
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital]
    @nIdTipoCliente INT -- 1 o 2 TIPO DE CLIENTE
AS
BEGIN
    DECLARE @sRetorno VARCHAR(MAX) = ' '

    IF @nIdTipoCliente = 1 -- CLIENTE EMPRESA
	BEGIN
		SELECT
			nIdCliente,
			sNombre AS sNombreClienteEmpresa,
			sEmail,
			sContrasena,
			bEstado
		FROM
			DigitalSuport.TBL_CLIENTE
		WHERE
			nIdTipoCliente = @nIdTipoCliente
	END

	ELSE IF @nIdTipoCliente = 2 -- CLIENTE COMUN
	BEGIN
		SELECT 
			nIdCliente,
			CONCAT(sNombre, ' ', sApellido) AS sNombreClienteNatural,
			nEdad,
			FORMAT(dFechaNacimiento, 'dd/MM/yyyy') AS dFechaNacimiento,
			sEmail,
			sContrasena,
			bEstado
		FROM 
			DigitalSuport.TBL_CLIENTE
		WHERE
			nIdTipoCliente = @nIdTipoCliente
	END

	ELSE
	BEGIN
		SET @sRetorno = 'Tipo de Cliente no encontrado'
		SELECT @sRetorno AS sRetorno	
	END
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];2    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaTipoCliente
-- Desc: Listar Tipos todos los Tipos de Cliente
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];2
AS
BEGIN
	SELECT
		nIdTipoCliente,
		sDescripcion AS sTipoCliente,
		bEstado
	FROM 
		DigitalSuport.TBL_TIPO_CLIENTE
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];3    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaUsuarioCliente
-- Desc: Listar Tipos todos los Usuarios del cliente
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];3
AS
BEGIN
    SELECT 
		nIdUsuarioCliente,
		CONCAT(sNombre, ' ', sApellido) AS sNombreUsuarioCliente,
		sEmail,
		sContrasena,
		bEstado
    FROM   
		DigitalSuport.TBL_USUARIO_CLIENTE;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];4    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaAplicativo
-- Desc: Listar todos los Aplicativos segun Cliente
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];4
	@nIdUsuarioCliente INT
AS
BEGIN
    SELECT 
		app.nIdAplicativo,
        app.sNombreAplicativo,
        app.sDescripcion AS sInformacionApp,
        FORMAT(app.dFechaLanzamiento, 'dd/MM/yyyy') AS dFechaLanzamiento,
        FORMAT(app.dFechaModificacion, 'dd/MM/yyyy') AS dFechaModificacion,
		CONCAT(cli.sNombre, ' ', cli.sApellido) AS sNombreCliente,
        app.sVersion,
        app.bEstado
    FROM   
		DigitalSuport.TBL_APLICATIVO AS app
        INNER JOIN DigitalSuport.TBL_CLIENTE AS cli ON cli.nIdCliente = app.nIdCliente
        INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE AS uc ON uc.nIdCliente = cli.nIdCliente
    WHERE  
		uc.nIdUsuarioCliente = @nIdUsuarioCliente;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];5    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaSolicitud
-- Desc: Listar todas las solicitudes por su tipo
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];5
	@nIdTipoSolicitud INT -- 1, 2, 3 TIPO DE SOLICITUD
AS
BEGIN
	DECLARE @sRetorno VARCHAR(MAX) = ' '

	IF @nIdTipoSolicitud IN (1, 2, 3)
	BEGIN
		SELECT 
			nIdSolicitud,
			sMotivo,
			FORMAT(dFechaCreacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaCreacion,
			FORMAT(dFechaFinalizacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaFinalizacion,
			sEstado,
			bEstado
		FROM 
			DigitalSuport.TBL_SOLICITUD
		WHERE
			nIdTipoSolicitud = @nIdTipoSolicitud
	END

	ELSE
	BEGIN
		SET @sRetorno = 'Valor invalido del tipo de solicitud' 
		SELECT @sRetorno AS sRetorno
	END
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];6    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaTipoSolicitud
-- Desc: Listar todos los tipos de solicitud
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];6
AS
BEGIN
	SELECT 
		nIdTipoSolicitud,
		sDescripcion AS sTipoSolicitud,
		bEstado
	FROM 
		DigitalSuport.TBL_TIPO_SOLICITUD
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];7    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaNotificacion
-- Desc: Listar todas las notificaciones
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];7
AS
BEGIN
	SELECT
		nIdNotificacion,
		so.sMotivo AS sMotivoSolicitud,
		so.sEstado AS sEstadoSolicitud,
		nt.sDescripcion AS sInformacionNotificada,
		FORMAT(nt.dFechaEnvio, 'dd/MM/yyyy') AS dFechaEnvio,
		nt.bLeido,
		nt.bEstado
	FROM
		DigitalSuport.TBL_NOTIFICACION nt
		INNER JOIN DigitalSuport.TBL_SOLICITUD so ON nt.nIdSolicitud = so.nIdSolicitud
		INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE uc ON uc.nIdUsuarioCliente = so.nIdUsuarioCliente
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];8    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaColaborador
-- Desc: Listar todos los colaboradores segun su rol
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];8
	@nIdRolColaborador INT -- 1, 2, 3, 4, 5 ROL DE COLABORADOR (No IF porque se pueden agregar mas roles)
AS
BEGIN
	SELECT 
		nIdColaborador, 
		CONCAT(sNombre, ' ', sApellido) AS sNombreColaborador,
		sEmail,
		sContrasena,
		bEstado
	FROM 
		DigitalSuport.TBL_COLABORADOR
	WHERE
		nIdRolColaborador = @nIdRolColaborador
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];9    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaRolColaborador
-- Desc: Listar todos los Roles de los colaboradores
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];9
AS
BEGIN
	SELECT 
		nIdRolColaborador,
		sDescripcion AS sFuncionColaborador,
		bEstado
	FROM 
		DigitalSuport.TBL_ROL_COLABORADOR
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];10    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaRegistroTrabajo
-- Desc: Listar todos los Registros de Trabajo relacionados a un colaborador
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];10
	@nIdColaborador INT
AS
BEGIN
	SELECT 
		nIdRegistroTrabajo,
		rt.sDescripcion AS sDetalleTrabajo,
		CONCAT(co.sNombre, ' ', co.sApellido) AS sNombreColaborador,
		so.sMotivo,
		dFechaRegistro,
		nHorasTrabajadas,
		sObservacion,
		rt.bEstado
	FROM 
		DigitalSuport.TBL_REGISTRO_TRABAJO rt
		INNER JOIN DigitalSuport.TBL_COLABORADOR co ON rt.nIdColaborador = co.nIdColaborador
		INNER JOIN DigitalSuport.TBL_SOLICITUD so ON rt.nIdSolicitud = so.nIdSolicitud
	WHERE 
		rt.nIdSolicitud IN (
			SELECT 
				DISTINCT 
				nIdSolicitud
			FROM 
				DigitalSuport.TBL_REGISTRO_TRABAJO
			WHERE 
				nIdColaborador = @nIdColaborador
		)
	ORDER BY 
		rt.dFechaRegistro DESC
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];11    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getSolicitudFinalizadaPorColaborador
-- Desc: Obtener la cantidad total de solicitudes con estado Finalizado, atendidas por cada colaborador
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];11
AS
BEGIN
    SELECT   
		co.nIdColaborador,
        CONCAT(co.sNombre, ' ', co.sApellido) AS sNombreColaborador,
        rc.sDescripcion AS sFuncionColaborador,
        IIF (bEsCoordinador = 1, 'Si es Coordinador', 'No es Coordinador') AS sEstadoColaborador,
        COUNT(so.nIdSolicitud) AS nSolicitudesResueltas,
        so.bEstado
    FROM     
		DigitalSuport.TBL_ASIGNACION_SOLICITUD AS aso
        INNER JOIN DigitalSuport.TBL_COLABORADOR AS co ON aso.nIdColaborador = co.nIdColaborador
        INNER JOIN DigitalSuport.TBL_ROL_COLABORADOR AS rc ON co.nIdRolColaborador = rc.nIdRolColaborador 
		INNER JOIN DigitalSuport.TBL_SOLICITUD AS so ON aso.nIdSolicitud = so.nIdSolicitud
    WHERE    
		so.sEstado = 'Finalizado'
    GROUP BY 
		co.nIdColaborador, 
		co.sNombre, 
		co.sApellido, 
		rc.sDescripcion, 
		bEsCoordinador, 
		so.bEstado
    ORDER BY 
		nSolicitudesResueltas DESC;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];12    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getTop5ColaboradorSolicitud
-- Desc: Listar los 5 colaboradores que han atendido la mayor cantidad de solicitudes finalizadas
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];12
AS
BEGIN
    SELECT   
		TOP 5 
		co.nIdColaborador,
        CONCAT(co.sNombre, ' ', co.sApellido) AS sNombreColaborador,
        rc.sDescripcion AS sFuncionColaborador,
        COUNT(so.nIdSolicitud) AS nSolicitudesResueltas,
        co.bEstado
    FROM     
		DigitalSuport.TBL_ASIGNACION_SOLICITUD AS aso
        INNER JOIN DigitalSuport.TBL_COLABORADOR AS co ON aso.nIdColaborador = co.nIdColaborador
        INNER JOIN DigitalSuport.TBL_ROL_COLABORADOR AS rc ON co.nIdRolColaborador = rc.nIdRolColaborador
        INNER JOIN DigitalSuport.TBL_SOLICITUD AS so ON aso.nIdSolicitud = so.nIdSolicitud
    WHERE    
		so.sEstado = 'Finalizado'
    GROUP BY 
		co.nIdColaborador, 
		co.sNombre, 
		co.sApellido, 
		rc.sDescripcion, 
		co.bEstado
    ORDER BY 
		nSolicitudesResueltas DESC;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];13    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getColaboradorConMas5Solicitudes
-- Desc: Mostrar los colaboradores que han resuelto más de 5 solicitudes con estado Finalizado
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];13
AS
BEGIN
    SELECT   
		co.nIdColaborador,
        CONCAT(co.sNombre, ' ', co.sApellido) AS sNombreColaborador,
        rc.sDescripcion AS sFuncionColaborador,
        COUNT(so.nIdSolicitud) AS nSolicitudesResueltas,
        co.bEstado
    FROM     
		DigitalSuport.TBL_ASIGNACION_SOLICITUD AS aso
        INNER JOIN DigitalSuport.TBL_COLABORADOR AS co ON aso.nIdColaborador = co.nIdColaborador
        INNER JOIN DigitalSuport.TBL_ROL_COLABORADOR AS rc ON co.nIdRolColaborador = rc.nIdRolColaborador
        INNER JOIN DigitalSuport.TBL_SOLICITUD AS so ON aso.nIdSolicitud = so.nIdSolicitud
    WHERE    
		so.sEstado = 'Finalizado'
    GROUP BY 
		co.nIdColaborador, 
		co.sNombre, 
		co.sApellido, 
		rc.sDescripcion, 
		co.bEstado
    HAVING   
		COUNT(so.nIdSolicitud) > 5
    ORDER BY 
		nSolicitudesResueltas DESC;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];14    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getSolicitudUsuarioCliente
-- Desc: Contar el número total de solicitudes registradas por cada usuario cliente
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];14
AS
BEGIN
    SELECT   
		uc.nIdUsuarioCliente,
        CONCAT(sNombre, ' ', sApellido) AS sNombreUsuarioCliente,
        COUNT(so.nIdSolicitud) AS nSolicitudesEstablecidas,
        uc.bEstado
    FROM     
		DigitalSuport.TBL_SOLICITUD AS so
		INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE AS uc ON so.nIdUsuarioCliente = uc.nIdUsuarioCliente
    GROUP BY 
		uc.nIdUsuarioCliente, 
		uc.sNombre, 
		uc.sApellido, 
		uc.bEstado
    ORDER BY 
		nSolicitudesEstablecidas DESC;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];15    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getPromedioHorasTrabajadasColaborador
-- Desc: Calcular el promedio de horas trabajadas por todos los colaboradores
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];15
AS
BEGIN
    SELECT   co.nIdColaborador,
             CONCAT(co.sNombre, ' ', co.sApellido) AS sNombreColaborador,
             rc.sDescripcion AS sFuncionColaborador,
             ISNULL(DigitalSuport.fn_PromedioHorasColaborador(co.nIdColaborador), 0) AS nPromedioHorasResolucion,
             co.bEstado
    FROM     
		DigitalSuport.TBL_COLABORADOR AS co
        INNER JOIN DigitalSuport.TBL_ROL_COLABORADOR AS rc ON rc.nIdRolColaborador = co.nIdRolColaborador
    WHERE    
		co.bEstado = 1
    GROUP BY 
		co.nIdColaborador, 
		co.sNombre, 
		co.sApellido, 
		rc.sDescripcion, 
		co.bEstado;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];16    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getHistorialSolicitudUsuarioCliente
-- Desc: Mostrar el historial completo de solicitudes hechas por un usuario cliente específico
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];16
	@nIdUsuarioCliente INT
AS
BEGIN
	SELECT 
		nIdSolicitud,
		--ap.nIdAplicativo,
		ap.sNombreAplicativo,
		--ts.nIdTipoSolicitud
		ts.sDescripcion AS sTipoSolicitud,
		sMotivo,
		FORMAT(so.dFechaCreacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaCreacion,
		FORMAT(so.dFechaFinalizacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaFinalizacion,
		sEstado,
		so.bEstado
	FROM 
		DigitalSuport.TBL_SOLICITUD so
		INNER JOIN DigitalSuport.TBL_APLICATIVO ap ON so.nIdAplicativo = ap.nIdAplicativo
		INNER JOIN DigitalSuport.TBL_TIPO_SOLICITUD ts ON so.nIdTipoSolicitud = ts.nIdTipoSolicitud
		INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE uc ON so.nIdUsuarioCliente = uc.nIdUsuarioCliente
	WHERE
		uc.nIdUsuarioCliente = @nIdUsuarioCliente
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];17    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaSolicitudEnProcesoPendiente
-- Desc: Listar todas las solicitudes que tienen estado 'En Proceso' o 'Pendiente'
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];17
AS
BEGIN
	SELECT 
		nIdSolicitud,
		uc.nIdUsuarioCliente,
		CONCAT(uc.sNombre, ' ' , uc.sApellido) AS sNombreUsuarioCliente,
		--ap.nIdAplicativo,
		ap.sNombreAplicativo,
		--ap.sDescripcion AS sInformacionApp,
		--ts.nIdTipoSolicitud,
		ts.sDescripcion AS sTipoSolicitud,
		sMotivo,
		FORMAT(so.dFechaCreacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaCreacion,
		--FORMAT(so.dFechaFinalizacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaFinalizacion,
		sEstado,
		so.bEstado
	FROM 
		DigitalSuport.TBL_SOLICITUD so
		INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE uc ON so.nIdUsuarioCliente = uc.nIdUsuarioCliente
		INNER JOIN DigitalSuport.TBL_APLICATIVO ap ON so.nIdAplicativo = ap.nIdAplicativo
		INNER JOIN DigitalSuport.TBL_TIPO_SOLICITUD ts ON so.nIdTipoSolicitud = ts.nIdTipoSolicitud
	WHERE
		sEstado IN('Pendiente' , 'En Proceso');
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];18    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaSolicitudFinalizada
-- Desc: Mostrar todas las solicitudes que tienen estado 'Finalizado'
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];18
AS
BEGIN
	SELECT 
		nIdSolicitud,
		uc.nIdUsuarioCliente,
		CONCAT(uc.sNombre, ' ' , uc.sApellido) AS sNombreUsuarioCliente,
		--ap.nIdAplicativo,
		ap.sNombreAplicativo,
		--ap.sDescripcion AS sInformacionApp,
		--ts.nIdTipoSolicitud,
		ts.sDescripcion AS sTipoSolicitud,
		sMotivo,
		FORMAT(so.dFechaCreacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaCreacion,
		FORMAT(so.dFechaFinalizacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaFinalizacion,
		--sEstado,
		so.bEstado
	FROM 
		DigitalSuport.TBL_SOLICITUD so
		INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE uc ON so.nIdUsuarioCliente = uc.nIdUsuarioCliente
		INNER JOIN DigitalSuport.TBL_APLICATIVO ap ON so.nIdAplicativo = ap.nIdAplicativo
		INNER JOIN DigitalSuport.TBL_TIPO_SOLICITUD ts ON so.nIdTipoSolicitud = ts.nIdTipoSolicitud
	WHERE
		sEstado = 'Finalizado'
	ORDER BY
		dFechaFinalizacion DESC;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];19    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getSolicitudPorMeses
-- Desc: Mostrar todas las solicitudes que se hicieron en N cantidad de meses
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];19
	@nMesesAntes INT --DESDE CUANTOS MESES QUIERES VER LAS SOLICITUDES
AS
BEGIN
	DECLARE @sRetorno VARCHAR(MAX) = ' '

	IF @nMesesAntes <= 0
	BEGIN
		SET @sRetorno = 'El valor de los meses debe ser mayor que 0 para obtener solicitudes'
		SELECT @sRetorno AS sRetorno
	END

	ELSE
	BEGIN
		SELECT 
			nIdSolicitud,
			--uc.nIdUsuarioCliente,
			CONCAT(uc.sNombre, ' ' , uc.sApellido) AS sNombreUsuarioCliente,
			--ap.nIdAplicativo,
			ap.sNombreAplicativo,
			--ap.sDescripcion AS sInformacionApp,
			--ts.nIdTipoSolicitud,
			ts.sDescripcion AS sTipoSolicitud,
			sMotivo,
			FORMAT(so.dFechaCreacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaCreacion,
			FORMAT(so.dFechaFinalizacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaFinalizacion,
			sEstado,
			so.bEstado
		FROM 
			DigitalSuport.TBL_SOLICITUD so
			INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE uc ON so.nIdUsuarioCliente = uc.nIdUsuarioCliente
			INNER JOIN DigitalSuport.TBL_APLICATIVO ap ON so.nIdAplicativo = ap.nIdAplicativo
			INNER JOIN DigitalSuport.TBL_TIPO_SOLICITUD ts ON so.nIdTipoSolicitud = ts.nIdTipoSolicitud
		WHERE
			so.dFechaCreacion >= DATEADD(MONTH, -@nMesesAntes, GETDATE())
		ORDER BY
			so.dFechaCreacion DESC;
	END
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];20    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getSolicitudFechaEspecifica
-- Desc: Mostrar todas las solicitudes registradas en una fecha especifica
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];20
	@dFechaCreacion DATE --FORMATO Año-Mes-Dia
AS
BEGIN
	SELECT 
		nIdSolicitud,
		--uc.nIdUsuarioCliente,
		CONCAT(uc.sNombre, ' ' , uc.sApellido) AS sNombreUsuarioCliente,
		--ap.nIdAplicativo,
		ap.sNombreAplicativo,
		--ap.sDescripcion AS sInformacionApp,
		--ts.nIdTipoSolicitud,
		ts.sDescripcion AS sTipoSolicitud,
		sMotivo,
		FORMAT(so.dFechaCreacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaCreacion,
		FORMAT(so.dFechaFinalizacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaFinalizacion,
		sEstado,
		so.bEstado
	FROM 
		DigitalSuport.TBL_SOLICITUD so
		INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE uc ON so.nIdUsuarioCliente = uc.nIdUsuarioCliente
		INNER JOIN DigitalSuport.TBL_APLICATIVO ap ON so.nIdAplicativo = ap.nIdAplicativo
		INNER JOIN DigitalSuport.TBL_TIPO_SOLICITUD ts ON so.nIdTipoSolicitud = ts.nIdTipoSolicitud
	WHERE
		 CONVERT(DATE, so.dFechaCreacion) = @dFechaCreacion;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];21    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaColaboradoresActivos
-- Desc: Lista de todos los colaboradores que esten activos
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];21
AS
BEGIN
	SELECT 
		nIdColaborador, 
		CONCAT(sNombre, ' ', sApellido) AS sNombreColaborador,
		sEmail,
		sContrasena,
		bEstado
	FROM 
		DigitalSuport.TBL_COLABORADOR
	WHERE
		bEstado = 1
		and nIdRolColaborador <> 6
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];22    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaTotalSolicitudes
-- Desc: Lista de todas las solicitudes realizadas
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];22
AS
BEGIN
	SELECT 
		nIdSolicitud,
		uc.nIdUsuarioCliente,
		CONCAT(uc.sNombre, ' ' , uc.sApellido) AS sNombreUsuarioCliente,
		ap.sNombreAplicativo,
		ts.sDescripcion AS sTipoSolicitud,
		sMotivo,
		FORMAT(dFechaCreacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaCreacion,
		FORMAT(dFechaFinalizacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaFinalizacion,
		sEstado,
		so.bEstado
	FROM 
		DigitalSuport.TBL_SOLICITUD so
		INNER JOIN DigitalSuport.TBL_TIPO_SOLICITUD ts ON so.nIdTipoSolicitud = ts.nIdTipoSolicitud
		INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE uc ON so.nIdUsuarioCliente = uc.nIdUsuarioCliente
		INNER JOIN DigitalSuport.TBL_APLICATIVO ap ON so.nIdAplicativo = ap.nIdAplicativo
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];23    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaRolUsuario
-- Desc: Listar todos los Roles de los Usuarios
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];23
AS
BEGIN
	SELECT 
		nIdRolUsuario,
		sNombreRol AS sNombreRolUsuario
	FROM
		DigitalSuport.TBL_ROL_USUARIO
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];24    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaClienteporUC
-- Desc: Listar Clientes segun su Usuario
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];24
	@nIdUsuarioCliente INT
AS
BEGIN
	DECLARE @sRetorno VARCHAR(MAX) = ' '
	-- Tabla temporal para almacenar resultados
    DECLARE @tClientes TABLE (
        nIdCliente INT,
        sNombreCliente VARCHAR(200),
        sEmail VARCHAR(150),
        bEstado BIT
    );

	-- Insertamos los clientes asociados al usuario
    INSERT INTO @tClientes (nIdCliente, sNombreCliente, sEmail, bEstado)
    SELECT
        cli.nIdCliente,
        CASE 
            WHEN cli.nIdTipoCliente = 2 THEN 
                RTRIM(LTRIM(ISNULL(cli.sNombre, ''))) + ' ' + RTRIM(LTRIM(ISNULL(cli.sApellido, '')))
            ELSE 
                RTRIM(LTRIM(ISNULL(cli.sNombre, '')))
        END AS sNombreCliente,
        cli.sEmail,
        cli.bEstado
    FROM 
        DigitalSuport.TBL_CLIENTE cli
		 INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE uc ON cli.nIdCliente = uc.nIdCliente
	 WHERE    
        uc.nIdUsuarioCliente = @nIdUsuarioCliente
	-- Retornamos resultados si existen
    IF EXISTS (SELECT 1 FROM @tClientes)
    BEGIN
        SELECT * FROM @tClientes
    END
    ELSE
    BEGIN
        SET @sRetorno = 'No se encontraron clientes asociados a este usuario.' 
		SELECT @sRetorno AS sRetorno;
    END
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];25    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getSolicitudEspecificoUC
-- Desc: Lista de todas las solicitudes de un UC Especifico
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];25
	@nIdUsuarioCliente INT
AS
BEGIN
	SELECT 
		nIdSolicitud,
		ts.sDescripcion AS sTipoSolicitud,
		app.sNombreAplicativo,
		sMotivo,
		FORMAT(dFechaCreacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaCreacion,
		FORMAT(dFechaFinalizacion, 'dd/MM/yyyy HH:mm:ss') AS dFechaFinalizacion,
		sEstado,
		so.bEstado
	FROM
		DigitalSuport.TBL_SOLICITUD so
		INNER JOIN DigitalSuport.TBL_TIPO_SOLICITUD ts ON so.nIdTipoSolicitud = ts.nIdTipoSolicitud
		INNER JOIN DigitalSuport.TBL_APLICATIVO app ON so.nIdAplicativo = app.nIdAplicativo
	WHERE
		nIdUsuarioCliente = @nIdUsuarioCliente
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];26    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaAdministrador
-- Desc: Lista de todos los Administradores
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];26
AS
BEGIN
	SELECT 
		nIdColaborador AS nIdAdministrador,
		CONCAT(sNombre, ' ', sApellido) AS sNombreAdmin,
		sEmail,
		bEstado
	FROM 
		DigitalSuport.TBL_COLABORADOR
	WHERE 
		nIdRolColaborador = 6
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];27    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getPorcentajeAtencionColaborador
-- Desc: Obtener porcentaje de atención por colaborador
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];27
    @nIdColaborador INT
AS
BEGIN
	DECLARE @sRetorno VARCHAR(MAX) = ' '

	IF NOT EXISTS (
        SELECT 1 FROM DigitalSuport.TBL_COLABORADOR WHERE nIdColaborador = @nIdColaborador AND bEstado = 1
    )
    BEGIN
		SET @sRetorno = 'No se encuentra el Colaborador especifico' 
		SELECT @sRetorno AS sRetorno
	END

	ELSE
	BEGIN
		SELECT 
			nIdColaborador,
			CONCAT(sNombre, ' ', sApellido) AS sNombreColaborador,
			ISNULL(DigitalSuport.fn_PorcentajeAtencionColaborador(@nIdColaborador),0) AS nPorcentajeAtencion
		FROM
			DigitalSuport.TBL_COLABORADOR
		WHERE
			nIdColaborador = @nIdColaborador
	END
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];28    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaPorcentajeColaboradorAtencion
-- Desc: Lista de todos los colaboradores con su porcentaje de atención
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];28
AS
BEGIN
    SELECT 
        nIdColaborador,
        CONCAT(sNombre, ' ', sApellido) AS sNombreColaborador,
        ISNULL(DigitalSuport.fn_PorcentajeAtencionColaborador(nIdColaborador), 0) AS nPorcentajeAtencion
    FROM 
        DigitalSuport.TBL_COLABORADOR
    WHERE 
		ISNULL(DigitalSuport.fn_PorcentajeAtencionColaborador(nIdColaborador), 0) > 0.0
        and bEstado = 1
	ORDER BY 
        nPorcentajeAtencion DESC
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];29    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postInsertarCliente
-- Desc: Insertar Clientes segun su tipo
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];29
	@sNombre VARCHAR(100),
    @sApellido VARCHAR(100), -- NULL si es Cliente Empresa 
    @nEdad INT, -- NULL si es Cliente Empresa 
    @dFechaNacimiento DATE, -- NULL si es Cliente Empresa 
    @sEmail VARCHAR(100),
    @sContrasena VARCHAR(100),
    @nIdTipoCliente INT, -- 1 o 2 TIPO DE CLIENTE
    @bEstado BIT
AS
BEGIN
	DECLARE @nNumero INT = 0
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ' '
	
	-- Validación de parámetros obligatorios
    IF @sNombre IS NULL OR @sEmail IS NULL OR @sContrasena IS NULL OR @nIdTipoCliente IS NULL
    BEGIN
        SET @sRetorno = 'El nombre, correo electrónico, contraseña y/o tipo de cliente son campos obligatorios.'
        SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
        RETURN
    END

    -- Verificar si el correo electrónico ya está registrado
	IF EXISTS (SELECT 1 FROM DigitalSuport.TBL_CLIENTE WHERE sEmail = @sEmail)
	BEGIN
		SET @sRetorno = 'El correo electrónico ya está registrado.'
		SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
		RETURN
	END

	-- Verificar si ya existe el cliente con otros datos
	SELECT 
		@nNumero = COUNT(*)
	FROM 
		DigitalSuport.TBL_CLIENTE
	WHERE 
		sNombre = @sNombre
		AND sApellido = @sApellido
		AND nEdad = @nEdad
		AND dFechaNacimiento = @dFechaNacimiento
		AND sContrasena = @sContrasena
		AND nIdTipoCliente = @nIdTipoCliente
   
	-- Si no existe, se valida el tipo
	IF (@nNumero = 0)
	BEGIN
		IF @nIdTipoCliente = 1 -- CLIENTE EMPRESA
		BEGIN
			IF @sApellido IS NOT NULL
			BEGIN
				SET @sRetorno = 'El cliente de tipo empresa no puede tener apellido.'
				SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
				RETURN;
			END

			IF @nEdad IS NOT NULL
			BEGIN
				SET @sRetorno = 'El cliente de tipo empresa no puede tener edad.'
				SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
				RETURN;
			END

			IF @dFechaNacimiento IS NOT NULL
			BEGIN
				SET @sRetorno = 'El cliente de tipo empresa no puede tener fecha de nacimiento.'
				SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
				RETURN;
			END
		END

		ELSE IF @nIdTipoCliente = 2 -- CLIENTE PERSONA NATURAL
		BEGIN
			IF @sApellido IS NULL
			BEGIN
				SET @sRetorno = 'El cliente de tipo persona debe tener apellido.'
				SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
				RETURN;
			END

			IF @nEdad IS NULL OR @nEdad < 18
			BEGIN
				SET @sRetorno = 'El cliente de tipo persona debe ser mayor de 18 años.'
				SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
				RETURN;
			END

			IF @dFechaNacimiento IS NULL
			BEGIN
				SET @sRetorno = 'El cliente de tipo persona debe tener fecha de nacimiento.'
				SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
				RETURN;
			END
		END

		ELSE
		BEGIN
			SET @sRetorno = 'Tipo de cliente inválido.'
			SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
			RETURN;
		END	

		-- Insertar cliente
		INSERT INTO DigitalSuport.TBL_CLIENTE (sNombre, sApellido, nEdad, dFechaNacimiento, sEmail, sContrasena, nIdTipoCliente, bEstado)
		VALUES (@sNombre, @sApellido, @nEdad, @dFechaNacimiento, @sEmail, @sContrasena, @nIdTipoCliente, @bEstado)

		SET @nRetorno = IDENT_CURRENT('DigitalSuport.TBL_CLIENTE')
		SET @sRetorno = 'El cliente se registró satisfactoriamente.'

		SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
	END
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];30    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postInsertarUsuarioCliente
-- Desc: Insertar Usuarios de Cliente
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];30
	@sNombre VARCHAR(100),
    @sApellido VARCHAR(100),
    @sEmail VARCHAR(100),
    @sContrasena VARCHAR(100),
    @nIdCliente INT,
    @bEstado BIT
AS
BEGIN
	DECLARE @nNumero INT = 0
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''
	DECLARE @nIdRolUsuario INT = 2

	SELECT
		@nNumero = COUNT(*)
	FROM
		DigitalSuport.TBL_USUARIO_CLIENTE
	WHERE
		sNombre = @sNombre
		and sApellido = @sApellido
		and sEmail = @sEmail
		and sContrasena = @sContrasena
		and nIdCliente = @nIdCliente

	IF (@nNumero = 0)
	BEGIN
		INSERT INTO DigitalSuport.TBL_USUARIO_CLIENTE(sNombre, sApellido, sEmail, sContrasena, nIdCliente, nIdRolUsuario ,bEstado)
		VALUES (@sNombre, @sApellido, @sEmail, @sContrasena, @nIdCliente, @nIdRolUsuario, @bEstado)
		
		SET @nRetorno = IDENT_CURRENT( 'DigitalSuport.TBL_USUARIO_CLIENTE' ) 
		SET @sRetorno = 'El Usuario del cliente se registro satisfactoriamente'
	END

	ELSE
	BEGIN
		SET @sRetorno = 'No se pudo registrar el Usuario del Cliente'
	END
	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];31    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postInsertarAplicativo
-- Desc: Insertar Aplicativo
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];31
	@sNombreAplicativo VARCHAR(50),
    @sDescripcion VARCHAR(100),
    @dFechaLanzamiento DATE,
    @sVersion VARCHAR(50),
    @nIdCliente INT,
    @bEstado BIT
AS
BEGIN
	DECLARE @nNumero INT = 0
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''
	DECLARE @dFechaModificacion DATE = NULL
	SELECT
		@nNumero = COUNT(*)
	FROM
		DigitalSuport.TBL_APLICATIVO
	WHERE
		sNombreAplicativo = @sNombreAplicativo
		and sDescripcion = @sDescripcion
		and nIdCliente = @nIdCliente

	IF (@nNumero = 0)
	BEGIN
		INSERT INTO DigitalSuport.TBL_APLICATIVO(sNombreAplicativo, sDescripcion, dFechaLanzamiento, dFechaModificacion, sVersion, nIdCliente, bEstado)
		VALUES (@sNombreAplicativo, @sDescripcion, @dFechaLanzamiento, @dFechaModificacion, @sVersion, @nIdCliente, @bEstado)
		
		SET @nRetorno = IDENT_CURRENT( 'DigitalSuport.TBL_APLICATIVO' ) 
		SET @sRetorno = 'El Aplicativo se registro satisfactoriamente'
	END
	ELSE
	BEGIN
		SET @sRetorno = 'No se pudo registrar el Aplicativo'
	END
	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];32    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postInsertarSolicitud
-- Desc: Insertar Solicitud
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];32 
	@nIdUsuarioCliente INT,
    @nIdAplicativo INT,
    @nIdTipoSolicitud INT,
    @sMotivo VARCHAR(MAX),
    @bEstado BIT
AS
BEGIN
	DECLARE @nNumero INT = 0
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ' '
	
	SELECT
		@nNumero = COUNT(*)
	FROM
		DigitalSuport.TBL_SOLICITUD
	WHERE
		nIdUsuarioCliente = @nIdUsuarioCliente
		and nIdAplicativo = @nIdAplicativo
		and nIdTipoSolicitud = @nIdTipoSolicitud
		and sMotivo = @sMotivo

	IF (@nNumero = 0)
	BEGIN
		DECLARE @dFechaCreacion DATETIME = GETDATE()
		DECLARE @dFechaFinalizacion DATETIME = NULL
		DECLARE @sEstado VARCHAR(20) = 'Pendiente'

		INSERT INTO DigitalSuport.TBL_SOLICITUD (nIdUsuarioCliente, nIdAplicativo, nIdTipoSolicitud, sMotivo, dFechaCreacion, dFechaFinalizacion, sEstado, bEstado)
		VALUES (@nIdUsuarioCliente, @nIdAplicativo, @nIdTipoSolicitud, @sMotivo, @dFechaCreacion, @dFechaFinalizacion, @sEstado, @bEstado)
		
		SET @nRetorno = IDENT_CURRENT( 'DigitalSuport.TBL_SOLICITUD' ) 
		SET @sRetorno = 'La Solicitud se registro satisfactoriamente'
	END
	ELSE
	BEGIN
		SET @sRetorno = 'No se pudo registrar la Solicitud'
	END
	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];33    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postInsertarNotificacion
-- Desc: Insertar Notificacion
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];33
	@nIdSolicitud INT,
    @sDescripcion VARCHAR(100),
    @bEstado BIT
AS
BEGIN
	DECLARE @nNumero INT = 0
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ' '
	
	SELECT
		@nNumero = COUNT(*)
	FROM
		DigitalSuport.TBL_NOTIFICACION
	WHERE
		nIdSolicitud = @nIdSolicitud
		and sDescripcion = @sDescripcion

	IF (@nNumero = 0)
	BEGIN
		DECLARE @dFechaEnvio DATETIME = GETDATE()
        DECLARE @bLeido BIT = 0

		INSERT INTO DigitalSuport.TBL_NOTIFICACION (nIdSolicitud, sDescripcion, dFechaEnvio, bLeido, bEstado)
		VALUES (@nIdSolicitud, @sDescripcion, @dFechaEnvio, @bLeido, @bEstado)
		
		SET @nRetorno = IDENT_CURRENT( 'DigitalSuport.TBL_NOTIFICACION' ) 
		SET @sRetorno = 'La Notificacion se registro satisfactoriamente'
	END
	ELSE
	BEGIN
		SET @sRetorno = 'No se pudo registrar la Notificacion'
	END
	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];34    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postInsertarColaborador
-- Desc: Insertar Colaborador
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];34
	@sNombre VARCHAR(100),
    @sApellido VARCHAR(100),
    @sContrasena VARCHAR(100),
    @nIdRolColaborador INT,
    @bEstado BIT
AS
BEGIN
	DECLARE @nNumero INT = 0
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ' '
	DECLARE @nIdRolUsuario INT = 3

	-- Si es Admin (nIdRolColaborador = 6), se asigna otro rol de usuario
	IF @nIdRolColaborador = 6
	BEGIN
		SET @nIdRolUsuario = 1
	END

	SELECT
		@nNumero = COUNT(*)
	FROM
		DigitalSuport.TBL_COLABORADOR
	WHERE
		sNombre = @sNombre
		and sApellido = @sApellido
		and sContrasena = @sContrasena
		and nIdRolColaborador = @nIdRolColaborador

	IF (@nNumero = 0)
	BEGIN
		DECLARE @sCrearCorreo VARCHAR(100)
		DECLARE @sEmail VARCHAR(100)
		DECLARE	@nContador INT = 0 

		-- Base del correo
		SET @sCrearCorreo = LOWER(LEFT(@sNombre, 1) + @sApellido)
		SET @sEmail = @sCrearCorreo + '@123digit.com'

		-- Evitar duplicado por restricción UNIQUE
		WHILE EXISTS (
			SELECT 1 
			FROM DigitalSuport.TBL_COLABORADOR 
			WHERE sEmail = @sEmail
		)
		BEGIN
			SET @ncontador += 1
			SET @sEmail = @sCrearCorreo + CAST(@nContador AS VARCHAR) + '@123digit.com'
		END


		INSERT INTO DigitalSuport.TBL_COLABORADOR(sNombre, sApellido, sEmail, sContrasena, nIdRolColaborador, nIdRolUsuario, bEstado)
		VALUES (@sNombre, @sApellido, @sEmail, @sContrasena, @nIdRolColaborador, @nIdRolUsuario, @bEstado)
		
		SET @nRetorno = IDENT_CURRENT( 'DigitalSuport.TBL_COLABORADOR' ) 

		IF @nIdRolColaborador = 6
        BEGIN
            SET @sRetorno = 'El Administrador se registró satisfactoriamente'
        END
        ELSE
        BEGIN
            SET @sRetorno = 'El Colaborador se registró satisfactoriamente'
        END
	END
	ELSE
	BEGIN
		SET @sRetorno = 'No se pudo registrar al Colaborador'
	END
	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];35    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postInsertarRolColaborador
-- Desc: Insertar Rol del Colaborador
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];35
	@sDescripcion VARCHAR(50),
    @bEstado BIT
AS
BEGIN
	DECLARE @nNumero INT = 0
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	SELECT
		@nNumero = COUNT(*)
	FROM
		DigitalSuport.TBL_ROL_COLABORADOR
	WHERE
		sDescripcion = @sDescripcion

	IF (@nNumero = 0)
	BEGIN
		INSERT INTO DigitalSuport.TBL_ROL_COLABORADOR(sDescripcion, bEstado)
		VALUES (@sDescripcion, @bEstado)
		
		SET @nRetorno = IDENT_CURRENT( 'DigitalSuport.TBL_ROL_COLABORADOR' ) 
		SET @sRetorno = 'El Rol del Colaborador se registro satisfactoriamente'
	END
	ELSE
	BEGIN
		SET @sRetorno = 'No se pudo registrar el Rol del Colaborador'
	END
	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];36    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postInsertarAsignacionSolicitud
-- Desc: Insertar Asignacion de Solicitud
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];36
	@nIdSolicitud INT,
    @nIdColaborador INT,
    @bEsCoordinador BIT,
    @bEstado BIT
AS
BEGIN
	DECLARE @nNumero INT = 0
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	SELECT
		@nNumero = COUNT(*)
	FROM
		DigitalSuport.TBL_ASIGNACION_SOLICITUD
	WHERE
		nIdSolicitud = @nIdSolicitud
		and nIdColaborador = @nIdColaborador

	IF (@nNumero = 0)
	BEGIN
		INSERT INTO DigitalSuport.TBL_ASIGNACION_SOLICITUD(nIdSolicitud, nIdColaborador, bEsCoordinador, bEstado)
		VALUES (@nIdSolicitud, @nIdColaborador, @bEsCoordinador, @bEstado)
		
		SET @nRetorno = IDENT_CURRENT( 'DigitalSuport.TBL_ASIGNACION_SOLICITUD' ) 
		SET @sRetorno = 'La Asignacion de la Solicitud se registro satisfactoriamente'
	END
	ELSE
	BEGIN
		SET @sRetorno = 'No se pudo registrar la Asignacion de la Solicitud'
	END
	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];37    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postInsertarRegistroTrabajo
-- Desc: Insertar Registro de Trabajo
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];37
	@nIdSolicitud INT,
	@nIdColaborador INT,
	@sDescripcion VARCHAR(150),
	@nHorasTrabajadas DECIMAL(4,2),
	@sObservacion VARCHAR(MAX),
	@bEstado BIT
AS
BEGIN
	DECLARE @nNumero INT = 0
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	-- Validar que las horas trabajadas no sean negativas
	IF (@nHorasTrabajadas < 0)
	BEGIN
		SET @sRetorno = 'Las horas trabajadas no pueden ser menores que cero.'
		SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
		RETURN
	END

	SELECT
		@nNumero = COUNT(*)
	FROM
		DigitalSuport.TBL_REGISTRO_TRABAJO
	WHERE
		nIdSolicitud = @nIdSolicitud
		and nIdColaborador = @nIdColaborador
		and sDescripcion = @sDescripcion

	IF (@nNumero = 0)
	BEGIN
		DECLARE @dFechaRegistro DATETIME = GETDATE()

		INSERT INTO DigitalSuport.TBL_REGISTRO_TRABAJO(nIdSolicitud, nIdColaborador, sDescripcion, dFechaRegistro, nHorasTrabajadas, sObservacion, bEstado)
		VALUES (@nIdSolicitud, @nIdColaborador, @sDescripcion, @dFechaRegistro,@nHorasTrabajadas, @sObservacion, @bEstado)
		
		SET @nRetorno = IDENT_CURRENT( 'DigitalSuport.TBL_REGISTRO_TRABAJO' ) 
		SET @sRetorno = 'El Registro de Trabajo se registro satisfactoriamente'
	END
	ELSE
	BEGIN
		SET @sRetorno = 'No se pudo registrar el Registro de Trabajo'
	END
	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];38    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postActualizarCliente
-- Desc: Actualizar datos de un Cliente segun su tipo
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];38
	@nIdCliente INT,
	@sNombre VARCHAR(100),
    @sApellido VARCHAR(100), -- NULL si es Cliente Empresa 
    @nEdad INT, -- NULL si es Cliente Empresa 
    @dFechaNacimiento DATE, -- NULL si es Cliente Empresa 
    @sEmail VARCHAR(100),
    @sContrasena VARCHAR(100),
    @nIdTipoCliente INT, -- 1 o 2 TIPO DE CLIENTE
    @bEstado BIT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	-- Validar campos obligatorios
	IF @nIdCliente IS NULL OR @sNombre IS NULL OR @sEmail IS NULL OR @sContrasena IS NULL OR @nIdTipoCliente IS NULL
	BEGIN
		SET @sRetorno = 'ID, nombre, correo, contraseña y tipo de cliente son campos obligatorios.'
		SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
		RETURN
	END
	
	-- Verificar si el correo electrónico ya está registrado por otro cliente (excluyendo al cliente actual)
	IF EXISTS (
		SELECT 1 
		FROM DigitalSuport.TBL_CLIENTE 
		WHERE sEmail = @sEmail AND nIdCliente <> @nIdCliente
	)
	BEGIN
		SET @sRetorno = 'El correo electrónico ya está registrado por otro cliente.'
		SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
		RETURN
	END

	-- Validaciones por tipo de cliente
	IF @nIdTipoCliente = 1 -- CLIENTE EMPRESA
	BEGIN
		IF @sApellido IS NOT NULL
		BEGIN
			SET @sRetorno = 'El cliente de tipo empresa no debe tener apellido.'
			SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
			RETURN
		END

		IF @nEdad IS NOT NULL
		BEGIN
			SET @sRetorno = 'El cliente de tipo empresa no debe tener edad.'
			SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
			RETURN
		END

		IF @dFechaNacimiento IS NOT NULL
		BEGIN
			SET @sRetorno = 'El cliente de tipo empresa no debe tener fecha de nacimiento.'
			SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
			RETURN
		END
	END

	ELSE IF @nIdTipoCliente = 2 -- CLIENTE PERSONA NATURAL
	BEGIN
		IF @sApellido IS NULL
		BEGIN
			SET @sRetorno = 'El cliente de tipo persona natural debe tener apellido.'
			SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
			RETURN
		END

		IF @nEdad IS NULL OR @nEdad < 18
		BEGIN
			SET @sRetorno = 'El cliente de tipo persona debe ser mayor de 18 años.'
			SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
			RETURN
		END

		IF @dFechaNacimiento IS NULL
		BEGIN
			SET @sRetorno = 'El cliente de tipo persona debe tener fecha de nacimiento.'
			SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
			RETURN
		END
	END

	ELSE
	BEGIN
		SET @sRetorno = 'Tipo de cliente inválido.'
		SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
		RETURN
	END
	
	-- ACTUALIZAR TABLA
	UPDATE DigitalSuport.TBL_CLIENTE
	SET 
		sNombre = @sNombre,
		sApellido = @sApellido,
		nEdad = @nEdad,
		dFechaNacimiento = @dFechaNacimiento,
		sEmail = @sEmail,
		sContrasena = @sContrasena,
		nIdTipoCliente = @nIdTipoCliente,
		bEstado = @bEstado
	WHERE
		nIdCliente = @nIdCliente

	SET @nRetorno = 1
	SET @sRetorno = 'Cliente Actualizado'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];39    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postActualizarUsuarioCliente
-- Desc: Actualizar datos de un un Usuario del Cliente
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];39
	@nIdUsuarioCliente INT,
	@sNombre VARCHAR(100),
    @sApellido VARCHAR(100),
    @sEmail VARCHAR(100),
    @sContrasena VARCHAR(100),
    @nIdCliente INT,
    @bEstado BIT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''
	DECLARE @nIdRolUsuario INT = 2

	UPDATE DigitalSuport.TBL_USUARIO_CLIENTE
	SET 
		sNombre = @sNombre,
		sApellido = @sApellido,
		sEmail = @sEmail,
		sContrasena = @sContrasena,
		nIdCliente = @nIdCliente,
		nIdRolUsuario = @nIdRolUsuario,
		bEstado = @bEstado
	WHERE
		nIdUsuarioCliente = @nIdUsuarioCliente

	SET @nRetorno = 1
	SET @sRetorno = 'Usuario del Cliente Actualizado'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];40    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postActualizarAplicativo
-- Desc: Actualizar un Aplicativo
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];40
	@nIdAplicativo INT,
    @sNombreAplicativo VARCHAR(50),
    @sDescripcion VARCHAR(100),
    @dFechaLanzamiento DATE,
    @dFechaModificacion DATE,
    @sVersion VARCHAR(50),
    @nIdCliente INT,
    @bEstado BIT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	UPDATE DigitalSuport.TBL_APLICATIVO
	SET 
		sNombreAplicativo = @sNombreAplicativo,
		sDescripcion = @sDescripcion,
		dFechaLanzamiento = @dFechaLanzamiento,
		dFechaModificacion = @dFechaModificacion,
		sVersion = @sVersion,
		nIdCliente = @nIdCliente,
		bEstado = @bEstado
	WHERE
		nIdAplicativo = @nIdAplicativo

	SET @nRetorno = 1
	SET @sRetorno = 'Aplicativo Actualizado'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];41    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postActualizarSolicitud
-- Desc: Actualizar una Solicitud
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];41
    @nIdSolicitud INT,
	@nIdUsuarioCliente INT,
    @nIdAplicativo INT,
    @nIdTipoSolicitud INT,
	@sMotivo VARCHAR(MAX),
    @dFechaCreacion DATETIME,
    @dFechaFinalizacion DATETIME,
    @sEstado VARCHAR(20), -- Pendiente, En Proceso, Finalizado
    @bEstado BIT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	IF (LTRIM(RTRIM(@sEstado)) <> 'Finalizado' AND @dFechaFinalizacion IS NOT NULL)
	BEGIN
		SET @sRetorno = 'Solo se puede establecer una fecha de finalización cuando el estado es "Finalizado".';
		SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
		RETURN;
	END;

	UPDATE DigitalSuport.TBL_SOLICITUD
	SET 
		nIdUsuarioCliente = @nIdUsuarioCliente,
		nIdAplicativo = @nIdAplicativo,
		nIdTipoSolicitud = @nIdTipoSolicitud,
		sMotivo = @sMotivo,
		dFechaCreacion = @dFechaCreacion,
		dFechaFinalizacion = @dFechaFinalizacion,
		sEstado = @sEstado,
		bEstado = @bEstado
	WHERE
		nIdSolicitud = @nIdSolicitud

	SET @nRetorno = 1
	SET @sRetorno = 'Solicitud Actualizada'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
END

GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];42    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postActualizarNotificacion
-- Desc: Actualizar una Notificacion
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];42
    @nIdNotificacion INT,
    @nIdSolicitud INT,
    @sDescripcion VARCHAR(100),
    @dFechaEnvio DATETIME,
    @bLeido BIT,
    @bEstado BIT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	UPDATE DigitalSuport.TBL_NOTIFICACION
	SET 
		nIdSolicitud = @nIdSolicitud,
		sDescripcion = @sDescripcion,
		dFechaEnvio = @dFechaEnvio,
		bLeido = @bLeido,
		bEstado = @bEstado
	WHERE
		nIdNotificacion = @nIdNotificacion

	SET @nRetorno = 1
	SET @sRetorno = 'Notificacion Actualizada'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];43    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postActualizarColaborador
-- Desc: Actualizar datos de un Colaborador
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];43
    @nIdColaborador INT,
	@sNombre VARCHAR(50),
	@sApellido VARCHAR(50),
	@sEmail VARCHAR(100),
	@sContrasena VARCHAR(100),
	@nIdRolColaborador INT,
	@nIdRolUsuario INT, -- 1 ADMIN, 3 COLABORADOR
	@bEstado BIT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''
	
	-- Verificar que el email no esté en uso por otro colaborador
	IF EXISTS (
		SELECT 1 FROM DigitalSuport.TBL_COLABORADOR
		WHERE sEmail = @sEmail AND nIdColaborador <> @nIdColaborador
	)
	BEGIN
		SET @sRetorno = 'El correo electrónico ya está registrado por otro colaborador.'
		SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
		RETURN
	END

	-- Actualizar colaborador
	UPDATE DigitalSuport.TBL_COLABORADOR
	SET 
		sNombre = @sNombre,
		sApellido = @sApellido,
		sEmail = @sEmail,
		sContrasena = @sContrasena,
		nIdRolColaborador = @nIdRolColaborador,
		nIdRolUsuario = @nIdRolUsuario,
		bEstado = @bEstado
	WHERE 
		nIdColaborador = @nIdColaborador

	SET @nRetorno = 1
	SET @sRetorno = 'Colaborador Actualizado'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];44    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postActualizarRolColaborador
-- Desc: Actualizar el Rol de Colaborador
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];44
    @nIdRolColaborador INT,
    @sDescripcion VARCHAR(50),
    @bEstado BIT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	UPDATE DigitalSuport.TBL_ROL_COLABORADOR
	SET 
		sDescripcion = @sDescripcion,
		bEstado = @bEstado
	WHERE
		nIdRolColaborador = @nIdRolColaborador

	SET @nRetorno = 1
	SET @sRetorno = 'Rol de Colaborador Actualizado'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];45    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postActualizarAsignacionSolicitud
-- Desc: Actualizar la Asignacion de la Solicitud
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];45
    @nIdAsignacionSolicitud INT,
    @nIdSolicitud INT,
    @nIdColaborador INT,
    @bEsCoordinador BIT,
    @bEstado BIT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	UPDATE DigitalSuport.TBL_ASIGNACION_SOLICITUD
	SET 
		nIdSolicitud = @nIdSolicitud,
		nIdColaborador = @nIdColaborador,
		bEsCoordinador = @bEsCoordinador,
		bEstado = @bEstado
	WHERE
		nIdAsignacionSolicitud = @nIdAsignacionSolicitud

	SET @nRetorno = 1
	SET @sRetorno = 'Asignacion de Solicitud Actualizada'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];46    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postActualizarRegistroTrabajo
-- Desc: Actualizar el Registro de Trabajo
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];46
    @nIdRegistroTrabajo INT,
	@nIdSolicitud INT,
	@nIdColaborador INT,
	@sDescripcion VARCHAR(150),
	@dFechaRegistro DATE,
	@nHorasTrabajadas DECIMAL(4,2),
	@sObservacion VARCHAR(MAX),
	@bEstado BIT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	-- Validar que las horas trabajadas no sean negativas
	IF (@nHorasTrabajadas < 0)
	BEGIN
		SET @sRetorno = 'Las horas trabajadas no pueden ser menores que cero.'
		SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
		RETURN
	END

	UPDATE DigitalSuport.TBL_REGISTRO_TRABAJO
	SET 
		nIdSolicitud = @nIdSolicitud,
		nIdColaborador = @nIdColaborador,
		sDescripcion = @sDescripcion,
		dFechaRegistro = @dFechaRegistro,
		nHorasTrabajadas = @nHorasTrabajadas,
		sObservacion = @sObservacion,
		bEstado = @bEstado
	WHERE
		nIdRegistroTrabajo = @nIdRegistroTrabajo

	SET @nRetorno = 1
	SET @sRetorno = 'Registro de Trabajo Actualizado'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno;
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];47    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postEliminarNotificacion
-- Desc:Eliminar Notificacion
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];47
	@nIdNotificacion INT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	DELETE DigitalSuport.TBL_NOTIFICACION
	WHERE 
		nIdNotificacion = @nIdNotificacion
			
	SET @nRetorno = 1 
	SET @sRetorno = 'Se elimino satisfactoriamente'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];48    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postEliminarAsignacionSolicitud
-- Desc:Eliminar la Asignacion de la Solicitud
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];48
	@nIdAsignacionSolicitud INT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	DELETE DigitalSuport.TBL_ASIGNACION_SOLICITUD
	WHERE 
		nIdAsignacionSolicitud = @nIdAsignacionSolicitud
			
	SET @nRetorno = 1 
	SET @sRetorno = 'Se elimino satisfactoriamente'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];49    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postEliminarRegistroTrabajo
-- Desc:Eliminar el Registro de Trabajo
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];49
	@nIdRegistroTrabajo INT
AS
BEGIN
	DECLARE @nRetorno INT = 0
	DECLARE @sRetorno VARCHAR(MAX) = ''

	DELETE DigitalSuport.TBL_REGISTRO_TRABAJO
	WHERE 
		nIdRegistroTrabajo = @nIdRegistroTrabajo
			
	SET @nRetorno = 1 
	SET @sRetorno = 'Se elimino satisfactoriamente'

	SELECT @nRetorno AS nRetorno, @sRetorno AS sRetorno
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];50    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getListaNotificacionesUC
-- Desc: Lista de Todas las Notificaciones para un Usuario Cliente Especifico
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];50
	@nIdUsuarioCliente INT
AS
BEGIN
	SELECT
		nIdNotificacion,
		so.sMotivo AS sMotivoSolicitud,
		so.sEstado AS sEstadoSolicitud,
		nt.sDescripcion AS sInformacionNotificada,
		FORMAT(nt.dFechaEnvio, 'dd/MM/yyyy') AS dFechaEnvio,
		nt.bLeido,
		nt.bEstado
	FROM
		DigitalSuport.TBL_NOTIFICACION nt
		INNER JOIN DigitalSuport.TBL_SOLICITUD so ON nt.nIdSolicitud = so.nIdSolicitud
		INNER JOIN DigitalSuport.TBL_USUARIO_CLIENTE uc ON uc.nIdUsuarioCliente = so.nIdUsuarioCliente
	WHERE
		uc.nIdUsuarioCliente = @nIdUsuarioCliente
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];51    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getMensajeNotificacionUC
-- Desc: Verificar la notificacion para poder enviar el mensaje de su solicitud al UC
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];51
	@nIdNotificacion INT
AS
BEGIN
	SELECT
		CONCAT(uc.sNombre, ' ' , uc.sApellido) AS sNombreUsuarioCliente,
		uc.sEmail AS sEmailUsuarioCliente,
		so.sEstado AS sEstadoSolicitud,
		nt.sDescripcion AS sInformacionNotificada
	FROM
		DigitalSuport.TBL_USUARIO_CLIENTE uc
		INNER JOIN DigitalSuport.TBL_SOLICITUD so ON uc.nIdUsuarioCliente = so.nIdUsuarioCliente
		INNER JOIN DigitalSuport.TBL_NOTIFICACION nt ON so.nIdSolicitud = nt.nIdSolicitud
	WHERE
		nt.nIdNotificacion = @nIdNotificacion
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];52    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: postAutenticacionUsuario
-- Desc: Verificar credenciales y retornar el tipo de usuario (Administrador, Colaborador o Cliente)
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];52
	@sEmail VARCHAR(100),
	@sContrasena VARCHAR(100)
AS
BEGIN
	DECLARE @sRetorno VARCHAR(MAX) = ' '
	DECLARE @sNombreUsuario VARCHAR(100) = ' '
	DECLARE @sPerfil VARCHAR(25) = ' '
    DECLARE @nIdUsuario INT = 0

	-- ROL COLABORADOR
	IF EXISTS (
        SELECT 
			1
        FROM 
			DigitalSuport.TBL_COLABORADOR
        WHERE 
			sEmail = @sEmail 
			AND sContrasena = @sContrasena 
			AND bEstado = 1
	)
	BEGIN
		-- ROL ADMINSITRADOR
		SELECT 
			@sNombreUsuario = sNombre,
			@nIdUsuario = nIdColaborador,
            @sPerfil = CASE 
                         WHEN nIdRolColaborador = 6 THEN 'ADMIN'
                         ELSE 'COLABORADOR'
                      END,
			@sRetorno = CASE 
                         WHEN nIdRolColaborador = 6 THEN 'Ingresando como Administrador'
                         ELSE 'Ingresando como Colaborador'
                       END
        FROM 
			DigitalSuport.TBL_COLABORADOR
        WHERE 
			sEmail = @sEmail 
			AND sContrasena = @sContrasena 
			AND bEstado = 1
	END
	
	-- ROL CLIENTE
   ELSE IF EXISTS (
        SELECT 
			1
        FROM 
			DigitalSuport.TBL_USUARIO_CLIENTE
        WHERE 
			sEmail = @sEmail 
			AND sContrasena = @sContrasena 
			AND bEstado = 1
    )
    BEGIN
		SELECT 
			@sNombreUsuario = sNombre,
            @nIdUsuario = nIdUsuarioCliente,
            @sPerfil = 'CLIENTE',
            @sRetorno = 'Ingresando como Cliente'
        FROM 
			DigitalSuport.TBL_USUARIO_CLIENTE
        WHERE 
			 @sEmail = sEmail
			AND @sContrasena = sContrasena 
			AND bEstado = 1
    END

	-- SI NO COINCIDE CON ALGUNO DE ESTOS ROLES
    ELSE
    BEGIN
        SET @sRetorno = 'Correo Electrónico o Contraseña incorrectos'
    END

    SELECT 
		@nIdUsuario AS nIdUsuario,
        @sRetorno AS sRetorno,
        @sNombreUsuario AS sNombreUsuario,
        @sPerfil AS sPerfil 
END
GO
/****** Object:  NumberedStoredProcedure [DigitalSuport].[pa_SoporteDigital];53    Script Date: 22/02/2026 01:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Api: getAsignacionSolicitudEspecifica
-- Desc: Obtener el ID de una Asignacion de la Solicitud
ALTER PROCEDURE [DigitalSuport].[pa_SoporteDigital];53
	@nIdSolicitud INT,
	@nIdColaborador INT
AS
BEGIN
	SELECT 
		nIdAsignacionSolicitud 
	FROM 
		DigitalSuport.TBL_ASIGNACION_SOLICITUD
	WHERE
		nIdSolicitud = @nIdSolicitud
		and nIdColaborador = @nIdColaborador
END