USE [BD_SOPORTE_DIGITAL]

GO
CREATE FUNCTION [DigitalSuport].[fn_PorcentajeAtencionColaborador](
    @nIdColaborador INT
)
RETURNS DECIMAL (5, 2)
AS
BEGIN
    DECLARE @TotalSolicitudes INT;
    DECLARE @SolicitudesAtendidas INT;
    DECLARE @Porcentaje DECIMAL(5, 2);

    -- Total de solicitudes activas
    SELECT 
        @TotalSolicitudes = COUNT(*)
    FROM 
        DigitalSuport.TBL_SOLICITUD
    WHERE 
        bEstado = 1;

    -- Total de solicitudes asignadas al colaborador
    SELECT 
        @SolicitudesAtendidas = COUNT(*)
    FROM 
        DigitalSuport.TBL_ASIGNACION_SOLICITUD
    WHERE 
        nIdColaborador = @nIdColaborador
        AND bEstado = 1;

    -- Evitar división por cero
    IF @TotalSolicitudes = 0
        SET @Porcentaje = 0;
    ELSE
        SET @Porcentaje = (CAST(@SolicitudesAtendidas AS DECIMAL(5, 2)) * 100) / @TotalSolicitudes;

    RETURN @Porcentaje;
END


USE [BD_SOPORTE_DIGITAL]
GO
CREATE FUNCTION [DigitalSuport].[fn_PromedioHorasColaborador](
    @nIdColaborador INT
)
RETURNS DECIMAL (5, 2)
AS
BEGIN
    DECLARE @PromedioHoras AS DECIMAL (5, 2);
    SELECT 
        @PromedioHoras = AVG(nHorasTrabajadas)
    FROM   
        DigitalSuport.TBL_REGISTRO_TRABAJO
    WHERE  
        nIdColaborador = @nIdColaborador
        AND bEstado = 1;
    RETURN @PromedioHoras;
END


USE [BD_SOPORTE_DIGITAL]
GO

CREATE FUNCTION [DigitalSuport].[fn_PorcentajeTipoSolicitud](
    @nIdTipoSolicitud INT
)
RETURNS DECIMAL(5, 2)
AS
BEGIN
    DECLARE @TotalSolicitudes INT;
    DECLARE @SolicitudesTipo INT;
    DECLARE @Porcentaje DECIMAL(5, 2);

    -- Total de solicitudes activas
    SELECT 
        @TotalSolicitudes = COUNT(*)
    FROM 
        DigitalSuport.TBL_SOLICITUD
    WHERE 
        bEstado = 1;

    -- Total de solicitudes de ese tipo
    SELECT 
        @SolicitudesTipo = COUNT(*)
    FROM 
        DigitalSuport.TBL_SOLICITUD
    WHERE 
        nIdTipoSolicitud = @nIdTipoSolicitud
        AND bEstado = 1;

    -- Evitar división por cero
    IF @TotalSolicitudes = 0
        SET @Porcentaje = 0;
    ELSE
        SET @Porcentaje = (CAST(@SolicitudesTipo AS DECIMAL(5, 2)) * 100) / @TotalSolicitudes;

    RETURN @Porcentaje;
END


CADENA DE CONEXION: Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;