form {
    margin: 20px;
}

.custom-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121c24; /* fondo oscuro */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-message {
  color: #bb86fc;
  font-size: 1.4rem;
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
}

.spinner-arcs {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  animation: spin 1s linear infinite;
}

.spinner-arcs::before,
.spinner-arcs::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 6px solid transparent;
}

.spinner-arcs::before {
  width: 100%;
  height: 100%;
  border-top: 6px solid #bb86fc;
  border-left: 6px solid #bb86fc;
  top: 0;
  left: 0;
}

.spinner-arcs::after {
  width: 70%;
  height: 70%;
  border-bottom: 6px solid #bb86fc;
  border-right: 6px solid #bb86fc;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.password-wrapper {
  position: relative;
}

.password-input-group {
  position: relative;
}

.toggle-password-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #6c757d;
  font-size: 16px;
}

.toggle-password-btn:focus {
  outline: none;
}
